*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.nav-item{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-left: 50px;
}

.navbar-nav{
    margin-left: 57px;
}

.li__btn{
    margin-left: 250px;
    white-space: nowrap;
}

.li__btn a{
    width: 184px;
    height: 52px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}

.li__btn a:hover{
    background-color: transparent;
}

.txt{
    margin-top: 160px;
    font-size: 51px;
    font-weight: 700;
    line-height: 66.3px;
}

.ellip1{
    position: absolute;
    transform: translateX(-70px);
}

.ellip2{
    position: relative;
    transform: translateX(-100px) translateY(-150px);
}

.txt2{
    font-weight: 700;
    font-size: 38px;
}


.txt3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 45.6px;
}

.el1{
    margin-left: 140px;
}

.txt4{
    font-weight: 700;
    font-size: 38px;
    line-height: 45.6px;
}

.btn2{
    width: 184px;
    height: 52px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}

.btn2:hover{
    background-color: transparent;
}

.txt5{
    margin-top: 120px;
    font-size: 38px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt6{
    font-weight: 600;
    font-size: 28px;
}

.a_none a{
    text-decoration: none;
}

.footer{
    background-color: #03101A;
}

.footer a{
    text-decoration: none;
    color: white;
}

.a_block{
    display: block;
}

.rov{
    display: flex;
}